<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="mx-auto" color="primary">
      ESTADÍSTICAS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="bg-dark">
          <ion-card-header>
            <ion-card-subtitle color="primary">Contribuciones</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-text-justify">
            <ion-text color="light">A continuación se les mostrará un listado con el nombre del contribuyente,
              <img src="../../assets/servidores.jpg" class="img-fluid rounded img-thumbnail float-right w-25 ml-3" alt="h1">
              debajo el puesto que le corresponde en el top general de Folding@Home el cual incluye otros equipos,
              también se mostrará la puntuación total del contribuyente y por último las WUs(work units, unidades de
              hardware donadas) totales que ha contribuido el mienbro.</ion-text> <br>  
            <br><img src="../../assets/gpu.jpg" class="img-fluid rounded img-thumbnail float-left w-25 mr-3" alt="h1">
            <ion-text color="light">Los puntos están determinados por el rendimiento del hardware de plegado de cada
              contribuyente (CPU, GPU, etc.) en relación con una máquina de referencia. Antes de enviar cualquier Unidad
              de Trabajo para un nuevo proyecto, comparamos una o más Unidades de Trabajo de ese proyecto en una máquina
              dedicada. Luego usamos los resultados para determinar los puntos para todas las UT en ese proyecto. Además
              de estos créditos base, podemos agregar puntos de bonificación, que se describen a continuación.
            </ion-text>
            <br>
            <img src="../../assets/servidores2.jpg" class="img-fluid rounded img-thumbnail w-50" alt="h1">
            <img src="../../assets/cpu.jpg" class="img-fluid rounded img-thumbnail w-50" alt="h1">
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card style="text-align: center;" class="bg-dark" > 
          <br>
          <ion-card-title color="primary">Recursos aportados para la investigación del COVID-19</ion-card-title>
          <ion-card-content class="bg-dark"  >
            <ion-list >
              <ion-item *ngFor="let usu of usuarios">
                <ion-label style="text-align: center; text-transform: uppercase;">
                  <ion-text color="primary" >{{ usu.nombre }}</ion-text> <br>
                  <ion-text>Puesto: {{ usu.rank }}</ion-text><br>
                  <ion-text>Puntuación: {{ usu.score}}</ion-text><br>
                  <ion-text>WUs: {{ usu.wus }}</ion-text><br>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>