<ion-tabs >

  <ion-tab-bar class="bg-dark" slot="bottom">
    <ion-tab-button tab="tab1"class="bg-dark">
      <ion-icon color="light" name="home-outline"></ion-icon>
      <ion-label>Principal</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" class="bg-dark">
      <ion-icon color="light" name="flask-outline"></ion-icon>
      <ion-label >Covid-19</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" class="bg-dark">
      <ion-icon color="light" name="information-circle-outline"></ion-icon>
      <ion-label>Informate</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="estadisticas" class="bg-dark">
      <ion-icon color="light" name="calculator"></ion-icon>
      <ion-label>Estadisticas</ion-label>
    </ion-tab-button> 
  </ion-tab-bar>

</ion-tabs>
