<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="mx-auto" color="primary">
      COVID-19
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="bg-dark">
    <ion-card-header>
      <ion-card-title color="primary">¿Qué es el Covid-19?</ion-card-title>
    </ion-card-header>

    <ion-card-header class="ion-text-justify">
      <img src="../../assets/coronavirus.jpg" class="img-fluid rounded img-thumbnail float-right w-25 ml-3" alt="h1">

      <ion-text color="light"> El agente causal de la COVID-19 es el virus (SARS-CoV-2), que es un tipo de
        Orthocoronavirinae.​ Fue
        descubierto y
        aislado por primera vez en Wuhan, China, tras provocar la epidemia de enfermedad por coronavirus de 2019-2020.
        Parece tener un origen zoonótico, es decir, que pasó de un huésped animal (un murciélago) a uno humano. El
        genoma
        del virus está formado por una sola cadena de ARN, y se clasifica como virus ARN monocatenario positivo. Su
        secuencia genética se ha aislado a partir de una muestra obtenida de un paciente afectado por neumonía en la
        ciudad china de Wuhan. </ion-text>

      <br><br>

      <ion-text color="light">
        Los sintomas más habituales son la fiebre, tos seca, y cansancio. También te puede dar dolores y molestias,
        congestión nasal, dolor de cabeza, conjuntivitis, dolor de garganta, diarrea, perdida del gusto o del olfato y
        erupciones cutáneas.
      </ion-text>

      <br><br>
      <img src="../../assets/peligrosidad.png" class="img-fluid rounded img-thumbnail float-left w-25 mr-3 " alt="h1">

      <ion-text color="light">
        Esta enfermedad es solo peligrosa para gente mayor o pesonas con afecciones médicas previas como hipertensión
        arterial, problemas cardiacos o pulmoneras, diabetes o cáncer, sin embargo cualquier persona puede enfermar
        gravement
        e si no tomas medidas. Ya que el alrededor del 80% se recupera sin necesidad de tratamiento hospitalario.
      </ion-text>

      <br><br>

      <ion-text color="light" >
        Una persona puede contraer la COVID‑19 por contacto con otra que esté infectada por el virus. La enfermedad se
        propaga principalmente de persona a persona a través de las gotículas que salen despedidas de la nariz o la boca
        de una persona infectada al toser, estornudar o hablar.Una persona puede contraer la COVID‑19 si inhala las
        gotículas procedentes de una persona infectada por el virus. Estas gotículas pueden caer sobre los objetos y
        superficies que rodean a la persona, como mesas, pomos y barandillas, de modo que otras personas pueden
        infectarse
        si tocan esos objetos o superficies y luego se tocan los ojos, la nariz o la boca.
      </ion-text>

      <br>

      <ion-text color="light">
        Si quieres más información <a class="item" href="#"
          onclick="window.open('https://es.wikipedia.org/wiki/COVID-19', '_system'); return false;">pincha aquí</a>.
      </ion-text> <br>

    </ion-card-header> <br> <br>
  </ion-card> <br>

  <ion-card class="bg-dark">
    <ion-card-header>
      <ion-card-title color="primary">Estadísticas Mundiales</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="4">

          </ion-col>
          <ion-col size="5">
            <div class="embed-responsive embed-responsive-16by9 mx-auto">
              <iframe class="embed-responsive-item mx-auto d-block"
                src="https://www.youtube.com/embed/NMre6IAAAiU?autoplay=1" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </ion-col>
          <ion-col size="4">

          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>

</ion-content>