<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="mx-auto" color="primary">
      PRINCIPAL
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="bg-dark">
    <ion-card-header>
      <ion-card-title color="primary">Contribuye con la investigación</ion-card-title> <br>
      <ion-card-subtitle color="light">Ayuda y forma parte de la invstigación contra el COVID-19</ion-card-subtitle>

    </ion-card-header>

    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <img src="../../assets/covid.jpg" alt="h1"><br>
      </ion-slide>

      <ion-slide>
        <ion-card-content>
          <img src="../../assets/informate.jpg" alt="h1"><br>
        </ion-card-content>

      </ion-slide>
    </ion-slides>

    <ion-card-content>

      <ion-text color="light">
        Descargando este <ion-button color="light" href="https://download.foldingathome.org/releases/public/release/fah-installer/windows-10-32bit/v7.6/fah-installer_7.6.13_x86.exe">programa</ion-button>
        aportaras un poco más al proyecto de supercomputación para poder investigar la enfermedad que nos atañe a todos
        en
        estos momentos...
      </ion-text>



      <br>
    </ion-card-content>
  </ion-card>

  <ion-card class="bg-dark">
    <ion-card-header>
      <ion-card-title color="primary" style="text-align: center;">Redes de Foldding@Home</ion-card-title>
    </ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col>

        </ion-col>
        <ion-col>

        </ion-col>
        <ion-col>
          <ion-button class="mx-auto d-block" size="large" color="primary" href="#"
            onclick="window.open('https://twitter.com/foldingathome', '_system'); return false;">
            <ion-icon name="logo-twitter"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="mx-auto d-block" size="large" color="dark" href="#"
            onclick="window.open('https://www.linkedin.com/company/42147570', '_system'); return false;">
            <ion-icon name="logo-linkedin"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="mx-auto d-block" size="large" color="primary" href="#"
            onclick="window.open('https://www.facebook.com/Foldinghome-136059519794607/', '_system'); return false;">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col>

        </ion-col>
        <ion-col>

        </ion-col>
      </ion-row>
    </ion-grid>




  </ion-card>
  <br><br>


</ion-content>