<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="mx-auto" color="primary">
      INFORMATE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="bg-dark">
    <ion-card-header>
      <ion-card-title color="primary">
        Información básica
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <div>
        <ion-text color="light">En el presente documento se incluye un manual de procedimientos de los procesos
          implicados en la instalación
          de la aplicación foldin@home.</ion-text> <br> <br>

        <ion-text color="light">Descarga:</ion-text> <br>
        <ol>
          <li>
            <ion-text color="light">
              Visitar la web de folding@home(foldingathome.org), hacer click en la pestaña de la parte superior llamada
              “Start folding”, al hacer click en esta pestaña aparecerá la opción de descargar la aplicación para
              windows.
              En el caso de no tener windows más abajo aparece la opcion de descargarla para otras distribuciones. Pincha <a href="https://foldingathome.org/alternative-downloads/" target="blan">aquí</a>.<br><br>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-icon color="light" size="large" name="logo-windows"></ion-icon><br><br>
                    <ion-button color="light" href="https://download.foldingathome.org/releases/public/release/fah-installer/windows-10-32bit/v7.6/fah-installer_7.6.13_x86.exe">Windows</ion-button>
                  </ion-col>
                  <ion-col>
                    <ion-icon color="light" size="large" name="logo-apple"></ion-icon><br><br>
                    <ion-button color="light" href="https://download.foldingathome.org/releases/public/release/fah-installer/osx-10.11-64bit/v7.6/fah-installer_7.6.13_x86_64.mpkg.zip">macOS</ion-button>
                  </ion-col>
                  <ion-col>
                    <ion-icon color="light" size="large" name="logo-tux"></ion-icon><br>
                    <ion-text color="light">Debian / Mint / Ubuntu</ion-text><br>
                    <ion-button color="light" href="https://download.foldingathome.org/releases/public/release/fahclient/debian-stable-64bit/v7.6/fahclient_7.6.13_amd64.deb">fahclient</ion-button><br>
                    <ion-button color="light" href="https://download.foldingathome.org/releases/public/release/fahcontrol/debian-stable-64bit/v7.6/fahcontrol_7.6.13-1_all.deb">fahcontrol</ion-button><br>
                    <ion-button color="light" href="https://download.foldingathome.org/releases/public/release/fahviewer/debian-stable-64bit/v7.6/fahviewer_7.6.13_amd64.deb">fahviewer</ion-button>
                  </ion-col>
                  <ion-col>
                    <ion-icon color="light" size="large" name="logo-tux"></ion-icon><br>
                    <ion-text color="light">Redhat / Centos / Fedora</ion-text><br>
                    <ion-button color="light" href="https://download.foldingathome.org/releases/public/release/fahclient/debian-stable-64bit/v7.6/fahclient_7.6.13_amd64.deb">fahclient</ion-button><br>
                    <ion-button color="light" href="https://download.foldingathome.org/releases/public/release/fahcontrol/debian-stable-64bit/v7.6/fahcontrol_7.6.13-1_all.deb">fahcontrol</ion-button><br>
                    <ion-button color="light" href="https://download.foldingathome.org/releases/public/release/fahviewer/debian-stable-64bit/v7.6/fahviewer_7.6.13_amd64.deb">fahviewer</ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-text>

          </li>
          <li>
            <ion-text color="light">
              Ejecutar el archivo que se ha descargado al hacer click en la descarga.
            </ion-text>


          </li>
        </ol>
         <ion-text color="light">Instalación:</ion-text> 
        <ol>
          <li>

            <ion-text color="light">
              Una vez ejecutado el archivo se abrirá el instalador. Procede a la siguiente pantalla haciendo click en el
              next, a continuación en el botón de “i agree” para aceptar los derechos y las condiciones. Una vez hecho
              esto selecciona la opción “express install” ya que la opción de custom es más avanzada y hacer click en
              next. Una vez que hagas click en esa opcion comenzara la instalacion, que no es demasiado tardía. Al
              acabar
              esta dará por finalizado el proceso de instalación.
            </ion-text>


          </li>
          <li>

            <ion-text color="light">
              Una vez finalizada la instalación se abrirá la aplicación en formato web. El primer paso es registrarse en
              la ventana emergente que aparece, elige la una de las dos opciones y haz click en “start folding”.
            </ion-text>


          </li>
          <li>

            <ion-text color="light">

              Se visualizará otra ventana emergente con varios campos a rellenar. Estos datos servirán para contabilizar
              el aporte que dará tu computadora con el tiempo. Una vez rellenados los campos haga click en “safe”.
            </ion-text>

          </li>
          <li>

            <ion-text color="light">

              Una vez guardadas las credenciales, se visualizará la interfaz de la aplicación.
            </ion-text>

          </li>
          <li>

            <ion-text color="light">

              Deberás seleccionar en la pestaña de “i support research fighting” y en el caso en el que estamos deberás
              seleccionar la opción de COVID-19.
            </ion-text>

          </li>
          <li>

            <ion-text color="light">
              En la parte inferior se visualiza una barra en la que determinas la cantidad de recursos de tu computadora
              que deseas ofrecer en la aplicación, cuanto más mejor, siempre teniendo en cuenta que no impedirá ninguna
              función primordial de la computadora.
            </ion-text>


          </li>

          <li>

            <ion-text color="light">
              A la derecha de la barra se puede indicar el momento en el que se quiera que la aplicación utilice los
              recursos de tu computadora. La primera opcion seria que vaya funcionando mientras el ordenador se está
              utilizando y la segunda sería que funcione solo cuando el ordenador no esté siendo usado.
            </ion-text>


          </li>
          <li>

            <ion-text color="light">
              En la parte superior derecha se pueden visualizar el puntaje obtenido utilizando la aplicación.
            </ion-text>


          </li>

          <li>

            <ion-text color="light">
              Se puede cerrar la aplicación y aparecerá minimizada en la barra de iconos de tu ordenador.
            </ion-text>
          </li>

          <li>

            <ion-text color="light">

              Finalmente si desea finalizar este proceso haga click en la opción “Stop folding”.
            </ion-text>

          </li>
        </ol>
      </div>
      <ion-card-title color="primary">
        Vídeo Tutorial
      </ion-card-title> <br>
      
      <ion-grid>
        <ion-row>
          <ion-col size="4">

          </ion-col>
          <ion-col size="5">
            <div class="embed-responsive embed-responsive-16by9 mx-auto">
              <iframe class="embed-responsive-item mx-auto d-block"
              src="https://drive.google.com/file/d/1bX1KL54AJIoGE18RctjlyhMH9o2aqodg/preview" 
              ></iframe>
            </div>
          </ion-col>
          <ion-col size="4">

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card class="bg-dark">
    <ion-card-header>
      <ion-card-title color="primary">
        Vídeo Informativo
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="light">Entrevista con Maialen Pison de la cuál surgio la idea de realizar una página dibulgativa para cooperar con este proyecto, donde se explica el cometido de Folding@Home.</ion-text>
      <ion-grid>
        <ion-row>
          <ion-col size="4">

          </ion-col>
          <ion-col size="5">
            <div class="embed-responsive embed-responsive-16by9 mx-auto">
              <iframe class="embed-responsive-item mx-auto d-block"
              src="https://drive.google.com/file/d/1V7QEr0Nx1fQ0KSmOhbgpCJC278tB56Ya/preview"
              ></iframe>
            </div>
          </ion-col>
          <ion-col size="4">

          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>

</ion-content>